<div ng-include="'partials/navbar'"></div>

<div class="wrapper">
	<div class="jumbotrongame">
        <button href="/#!/game" ng-click="goToBeg()" class="btn btn-success">
            Beginner
        </button>
        <button href="/#!/gameinter" ng-click="goToInter()" class="btn btn-success">
            Intermediate
        </button>
	    <flash checkPolicyFile="true" width="500" height="500" src="files/Startup.swf"></flash>
        <button href="/#!/leaderboardexp" ng-click="createContestant()" class="btn btn-success">
            Submit Score
        </button>
        <button href="/#!/gameexp" ng-click="goToInter()" class="btn btn-success">
            Play Again
        </button>
	</div>
</div>