<div ng-include="'partials/navbar'"></div>

<div class="wrapper">
	<div class="jumbotrongame">
        <a href="/#!/gameinter" class="btn btn-success">
            Intermediate
        </a>
        <a href="/#!/gameexp" class="btn btn-success">
            Expert
        </a>
	    <flash checkPolicyFile="true" width="500" height="500" src="files/Startup.swf"></flash>
        <a href="/#!/leaderboard" ng-click="createContestant()" class="btn btn-success">
            Submit Score
        </a>
        <a ng-click="refresh()" class="btn btn-success">
            Play Again
        </a>
	</div>
</div>